body{
    background-image: url(../imagens/desenho-loucao.jpg);
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 0 10% 0 10% ;
}
.titulo{
    font-family: 'Times New Roman',serif;
    font-size: 28px;
    color: limegreen;
}

.cabecalho{
    border: 1px solid black;
    background-color: gray;
    color: #FFFFFF;
}

.divtabela{
    width: 100%;
    text-align: -webkit-center;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 600px;
   
}